In [1]:
import pandas as pd

In [2]:
d={"b":"Gender","30.83":"Age","0":"Debt","u":"Married","g":"BankCustomer","w":"EducationLevel","v":"Ethnicity","1.25":"YearsEmployed","t":"PriorDefault","t.1":"Employed","01":"CreditScore","f":"DriversLiscence","g.1":"Citizen","00202":"Zipcode","0.1":"Income","+":"Approved"}
l=["Male","Age","Debt","Married","BankCustomer","EducationLevel","Ethnicity","YearsEmployed","PriorDefault","Employed","CreditScore","DriversLiscence","Citizen","Zipcode","Income","Approved"]
df = pd.read_csv("crx.data")
df.loc[-1] = ["b","30.83",0,"u","g","w","v",1.25,"t","t",1,"f","g","000202",0,"+"]
df.index=df.index+1
df=df.sort_index()
cc_apps= df.rename(columns=d,inplace=False)
cc_apps.head(10)

,Gender,Age,Debt,Married,BankCustomer,EducationLevel,Ethnicity,YearsEmployed,PriorDefault,Employed,CreditScore,DriversLiscence,Citizen,Zipcode,Income,Approved
0,b,30.83,0.000,u,g,w,v,1.250,t,t,1,f,g,000202,0,+
1,a,58.67,4.460,u,g,q,h,3.040,t,t,6,f,g,00043,560,+
2,a,24.50,0.500,u,g,q,h,1.500,t,f,0,f,g,00280,824,+
3,b,27.83,1.540,u,g,w,v,3.750,t,t,5,t,g,00100,3,+
4,b,20.17,5.625,u,g,w,v,1.710,t,f,0,f,s,00120,0,+
5,b,32.08,4.000,u,g,m,v,2.500,t,f,0,t,g,00360,0,+
6,b,33.17,1.040,u,g,r,h,6.500,t,f,0,t,g,00164,31285,+
7,a,22.92,11.585,u,g,cc,v,0.040,t,f,0,f,g,00080,1349,+
8,b,54.42,0.500,y,p,k,h,3.960,t,f,0,f,g,00180,314,+
9,b,42.50,4.915,y,p,w,v,3.165,t,f,0,t,g,00052,1442,+

In [3]:
cc_apps_description=cc_apps.describe()
print(cc_apps_description)
print("\n")
cc_apps_info=cc_apps.info()
print(cc_apps_info)
print("\n")

             Debt  YearsEmployed  CreditScore         Income
count  690.000000     690.000000    690.00000     690.000000
mean     4.758725       2.223406      2.40000    1017.385507
std      4.978163       3.346513      4.86294    5210.102598
min      0.000000       0.000000      0.00000       0.000000
25%      1.000000       0.165000      0.00000       0.000000
50%      2.750000       1.000000      0.00000       5.000000
75%      7.207500       2.625000      3.00000     395.500000
max     28.000000      28.500000     67.00000  100000.000000


<class 'pandas.core.frame.DataFrame'>
Int64Index: 690 entries, 0 to 689
Data columns (total 16 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Gender           690 non-null    object
 1   Age              690 non-null    object
 2   Debt             690 non-null    float64
 3   Married          690 non-null    object
 4   BankCustomer     690 non-null    object
 5   EducationLevel   690 non-null    object
 6   Ethnicity        690 non-null    object
 7   YearsEmployed    690 non-null    float64
 8   PriorDefault     690 non-null    object
 9   Employed         690 non-null    object
 10  CreditScore      690 non-null    int64
 11  DriversLiscence  690 non-null    object
 12  Citizen          690 non-null    object
 13  Zipcode          690 non-null    object
 14  Income           690 non-null    int64
 15  Approved         690 non-null    object
dtypes: float64(2), int64(2), object(12)
memory usage: 91.6+ KB
None

In [4]:
import numpy as np
print(cc_apps.tail(17))
cc_apps.replace('?',np.nan,inplace=True)
cc_apps.tail(17)

    Gender    Age    Debt Married BankCustomer EducationLevel Ethnicity  \
673      ?  29.50   2.000       y            p              e         h
674      a  37.33   2.500       u            g              i         h
675      a  41.58   1.040       u            g             aa         v
676      a  30.58  10.665       u            g              q         h
677      b  19.42   7.250       u            g              m         v
678      a  17.92  10.210       u            g             ff        ff
679      a  20.08   1.250       u            g              c         v
680      b  19.50   0.290       u            g              k         v
681      b  27.83   1.000       y            p              d         h
682      b  17.08   3.290       u            g              i         v
683      b  36.42   0.750       y            p              d         v
684      b  40.58   3.290       u            g              m         v
685      b  21.08  10.085       y            p              e         h
686      a  22.67   0.750       u            g              c         v
687      a  25.25  13.500       y            p             ff        ff
688      b  17.92   0.205       u            g             aa         v
689      b  35.00   3.375       u            g              c         h

     YearsEmployed PriorDefault Employed  CreditScore DriversLiscence Citizen  \
673          2.000            f        f            0               f       g
674          0.210            f        f            0               f       g
675          0.665            f        f            0               f       g
676          0.085            f        t           12               t       g
677          0.040            f        t            1               f       g
678          0.000            f        f            0               f       g
679          0.000            f        f            0               f       g
680          0.290            f        f            0               f       g
681          3.000            f        f            0               f       g
682          0.335            f        f            0               t       g
683          0.585            f        f            0               f       g
684          3.500            f        f            0               t       s
685          1.250            f        f            0               f       g
686          2.000            f        t            2               t       g
687          2.000            f        t            1               t       g
688          0.040            f        f            0               f       g
689          8.290            f        f            0               t       g

    Zipcode  Income Approved
673   00256      17        -
674   00260     246        -
675   00240     237        -
676   00129       3        -
677   00100       1        -
678   00000      50        -
679   00000       0        -
680   00280     364        -
681   00176     537        -
682   00140       2        -
683   00240       3        -
684   00400       0        -
685   00260       0        -
686   00200     394        -
687   00200       1        -
688   00280     750        -
689   00000       0        -

,Gender,Age,Debt,Married,BankCustomer,EducationLevel,Ethnicity,YearsEmployed,PriorDefault,Employed,CreditScore,DriversLiscence,Citizen,Zipcode,Income,Approved
673,NaN,29.50,2.000,y,p,e,h,2.000,f,f,0,f,g,00256,17,-
674,a,37.33,2.500,u,g,i,h,0.210,f,f,0,f,g,00260,246,-
675,a,41.58,1.040,u,g,aa,v,0.665,f,f,0,f,g,00240,237,-
676,a,30.58,10.665,u,g,q,h,0.085,f,t,12,t,g,00129,3,-
677,b,19.42,7.250,u,g,m,v,0.040,f,t,1,f,g,00100,1,-
678,a,17.92,10.210,u,g,ff,ff,0.000,f,f,0,f,g,00000,50,-
679,a,20.08,1.250,u,g,c,v,0.000,f,f,0,f,g,00000,0,-
680,b,19.50,0.290,u,g,k,v,0.290,f,f,0,f,g,00280,364,-
681,b,27.83,1.000,y,p,d,h,3.000,f,f,0,f,g,00176,537,-
682,b,17.08,3.290,u,g,i,v,0.335,f,f,0,t,g,00140,2,-
683,b,36.42,0.750,y,p,d,v,0.585,f,f,0,f,g,00240,3,-
684,b,40.58,3.290,u,g,m,v,3.500,f,f,0,t,s,00400,0,-
685,b,21.08,10.085,y,p,e,h,1.250,f,f,0,f,g,00260,0,-
686,a,22.67,0.750,u,g,c,v,2.000,f,t,2,t,g,00200,394,-
687,a,25.25,13.500,y,p,ff,ff,2.000,f,t,1,t,g,00200,1,-
688,b,17.92,0.205,u,g,aa,v,0.040,f,f,0,f,g,00280,750,-
689,b,35.00,3.375,u,g,c,h,8.290,f,f,0,t,g,00000,0,-

In [5]:
cc_apps.isna().any()

Gender              True
Age                 True
Debt               False
Married             True
BankCustomer        True
EducationLevel      True
Ethnicity           True
YearsEmployed      False
PriorDefault       False
Employed           False
CreditScore        False
DriversLiscence    False
Citizen            False
Zipcode             True
Income             False
Approved           False
dtype: bool

In [6]:
from sklearn.impute import SimpleImputer
imputer = SimpleImputer(strategy='mean',missing_values=np.nan)
for i in cc_apps.columns:
    if cc_apps[i].dtype=='int64' or cc_apps[i].dtype=='float64':
        imputer=imputer.fit(cc_apps[[i]])
        imputer.transform(cc_apps[[i]])

In [7]:
cc_apps.isna().any()

Gender              True
Age                 True
Debt               False
Married             True
BankCustomer        True
EducationLevel      True
Ethnicity           True
YearsEmployed      False
PriorDefault       False
Employed           False
CreditScore        False
DriversLiscence    False
Citizen            False
Zipcode             True
Income             False
Approved           False
dtype: bool

In [8]:
for i in cc_apps.columns:
    if cc_apps[i].dtype=='object':
        cc_apps=cc_apps.fillna(cc_apps[i].value_counts().index[0])

cc_apps.tail(17)

,Gender,Age,Debt,Married,BankCustomer,EducationLevel,Ethnicity,YearsEmployed,PriorDefault,Employed,CreditScore,DriversLiscence,Citizen,Zipcode,Income,Approved
673,b,29.50,2.000,y,p,e,h,2.000,f,f,0,f,g,00256,17,-
674,a,37.33,2.500,u,g,i,h,0.210,f,f,0,f,g,00260,246,-
675,a,41.58,1.040,u,g,aa,v,0.665,f,f,0,f,g,00240,237,-
676,a,30.58,10.665,u,g,q,h,0.085,f,t,12,t,g,00129,3,-
677,b,19.42,7.250,u,g,m,v,0.040,f,t,1,f,g,00100,1,-
678,a,17.92,10.210,u,g,ff,ff,0.000,f,f,0,f,g,00000,50,-
679,a,20.08,1.250,u,g,c,v,0.000,f,f,0,f,g,00000,0,-
680,b,19.50,0.290,u,g,k,v,0.290,f,f,0,f,g,00280,364,-
681,b,27.83,1.000,y,p,d,h,3.000,f,f,0,f,g,00176,537,-
682,b,17.08,3.290,u,g,i,v,0.335,f,f,0,t,g,00140,2,-
683,b,36.42,0.750,y,p,d,v,0.585,f,f,0,f,g,00240,3,-
684,b,40.58,3.290,u,g,m,v,3.500,f,f,0,t,s,00400,0,-
685,b,21.08,10.085,y,p,e,h,1.250,f,f,0,f,g,00260,0,-
686,a,22.67,0.750,u,g,c,v,2.000,f,t,2,t,g,00200,394,-
687,a,25.25,13.500,y,p,ff,ff,2.000,f,t,1,t,g,00200,1,-
688,b,17.92,0.205,u,g,aa,v,0.040,f,f,0,f,g,00280,750,-
689,b,35.00,3.375,u,g,c,h,8.290,f,f,0,t,g,00000,0,-

In [9]:
cc_apps.isna().any()

Gender             False
Age                False
Debt               False
Married            False
BankCustomer       False
EducationLevel     False
Ethnicity          False
YearsEmployed      False
PriorDefault       False
Employed           False
CreditScore        False
DriversLiscence    False
Citizen            False
Zipcode            False
Income             False
Approved           False
dtype: bool

In [10]:
from sklearn.preprocessing import LabelEncoder

le=LabelEncoder()
for i in cc_apps.columns:
    if cc_apps[i].dtype=='object':
        cc_apps[i]=le.fit_transform(cc_apps[i])

In [11]:
cc_apps.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 690 entries, 0 to 689
Data columns (total 16 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Gender           690 non-null    int32
 1   Age              690 non-null    int32
 2   Debt             690 non-null    float64
 3   Married          690 non-null    int32
 4   BankCustomer     690 non-null    int32
 5   EducationLevel   690 non-null    int32
 6   Ethnicity        690 non-null    int32
 7   YearsEmployed    690 non-null    float64
 8   PriorDefault     690 non-null    int32
 9   Employed         690 non-null    int32
 10  CreditScore      690 non-null    int64
 11  DriversLiscence  690 non-null    int32
 12  Citizen          690 non-null    int32
 13  Zipcode          690 non-null    int32
 14  Income           690 non-null    int64
 15  Approved         690 non-null    int32
dtypes: float64(2), int32(12), int64(2)
memory usage: 59.3 KB

In [12]:
from sklearn.model_selection import train_test_split
cc_apps=cc_apps.drop(['DriversLiscence','Zipcode'],axis=1)
cc_apps=cc_apps.values
X,y=cc_apps[:,0:13],cc_apps[:,13]
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.33,random_state=42)

In [13]:
from sklearn.preprocessing import MinMaxScaler
scalar = MinMaxScaler(feature_range=(0,1))
rescaledX_train = scalar.fit_transform(X_train)
rescaledX_test=scalar.transform(X_test)

In [14]:
from sklearn.linear_model import LogisticRegression
logreg = LogisticRegression()
logreg.fit(rescaledX_train,y_train)

LogisticRegression()

In [20]:
from sklearn.metrics import confusion_matrix,accuracy_score
y_pred=logreg.predict(rescaledX_test)
accuracy= logreg.score(rescaledX_test,y_test)
print("Accuracy of Logistic regression classifier: ",accuracy)
print(confusion_matrix(y_test,y_pred))

Accuracy of Logistic regression classifier:  0.8421052631578947
[[94  9]
 [27 98]]